@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600&display=swap");

$poppins: "Poppins", sans-serif;
$mon: "Montserrat", sans-serif;

$bg: #303a52;
$btn: #fc85ae;
$fcol: #ffffff;
$subcol: #000000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 100px;

  article {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin: 150px 0px;

    h1 {
      font-family: $poppins;
      font-size: 3rem;
      color: $fcol;
      line-height: 2rem;
      @media (max-width: 560px) {
        font-size: 1.1rem;
        line-height: 1;
      }
      p {
        font-family: $mon;
        font-size: 1rem;
        color: $subcol;
        margin: 0 15px;

        @media (max-width: 400px) {
          font-size: 0.5rem;
        }
        @media (max-width: 560px) {
          font-size: 0.2rem;
        }
      }
    }
  }

  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    .btn {
      font-family: $mon;
      font-weight: bold;
      font-size: 1rem;
      padding: 10px 20px;
      border-radius: 13px;
      border: none;
      min-width: 100px;
      min-height: 50px;
      color: $fcol;
      outline: none;
      cursor: pointer;
      box-shadow: 0 0 10px #13131338;
      background-color: $btn;

      @media (max-width: 280px) {
        font-size: 0.5rem;
        min-width: 50px;
        min-height: 25px;
      }
      @media (max-width: 560px) {
        font-size: 0.5rem;
        min-width: 80px;
        min-height: 40px;
      }
    }
  }
}
